@import 'global.css';
@import 'header.css';
@import 'footer.css';


/* .main-layout {
    display: grid;
    padding-top: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    gap: 80px;
    min-height: 90vh;
    max-width: 1200px;
} */

.main-layout {
    display: grid;
    gap: 80px;
    grid-template-areas:
        "one"
        "two"
        "three";
}

.hero-right-container {
    grid-area: one;
    min-width: 550px;
    align-self: center;
    position: relative;
}

.hero__image-desktop {
    display: none;
}

.hero__image-mobile {
    min-width: 550px;
    width: 100%;
    height: 100%;
}


.hero-left-container {
    grid-area: two;
    padding-top: 14rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.article-title {
    width: 550px;
    padding-bottom: 6rem;
    font-size: 7.7rem;
    margin: 0;
}


.paragraph-container {
    width: 90%;
    word-break: keep-all;
}

.article-paragraph {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin: 0;
}

.learn-more-btn {
    margin-top: 5rem;
    padding: 2rem 2.8rem;
    font-size: 1.8rem;
}

.learn-more-btn-color {
    border: 3px solid var(--almost-black);
    background-color: var(--almost-black);
    color: var(--almost-white);
}

.learn-more-btn-color:active {
    background-color: transparent;
    color: var(--almost-black);
    transition: all 100ms ease-in;
}

.clients-section {
    grid-area: three;
    align-self: end;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.clients-section img {
    padding: 0 1.8rem;
}


@media screen and (min-width:768px) {

    .main-layout {
        grid-template-areas:
            "two one"
            "three one";
    }

    .hero__image-desktop {
        display: block;
        min-width: 550px;
        width: 100%;
        height: 100%;
    }

    .hero__image-mobile {
        display: none;
    }

}