@import 'global.css';
@import 'header.css';
@import 'footer.css';


.main-layout {
    display: flex;
    justify-content: center;
    margin: 2rem min(15rem);
}

.main-sub-container-size {
    width: 100%;
    height: 50%;
}

.hero-image-container img {
    width: 100%;
}

.hero-article {
    width: 100%;
    padding-top: 14rem;
}

.article-title {
    font-size: 7.7rem;
    margin: 0;
}

.paragraph-container {
    width: 80%;
    word-break: keep-all;

}

.article-paragraph {
    font-size: 1.8rem;
    margin: 0;
}

.learn-more-btn-color {
    border: 3px solid var(--almost-black);
    background-color: var(--almost-black);
    color: var(--almost-white);
}

.learn-more-btn-color:active {
    background-color: transparent;
    color: var(--almost-black);
    transition: all 100ms ease-in;
}