@import 'global.css';
@import 'header.css';
@import 'footer.css';


.main-layout {
    display: grid;
    grid-template-columns: repeat(2, min(500px, 1fr));
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    gap: 10rem;
    min-height: 90vh;
    max-width: 1200px;
}

.hero-image-container {
    grid-column: 2;
    align-self: center;
    position: relative;
}

.hero-image-container img {
    width: 100%;
    height: 100%;
}


.article-container {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.hero-article {
    padding-top: 14rem;
}

.article-title {

    width: 600px;
    padding-bottom: 6rem;
    font-size: 7.7rem;
    margin: 0;
}


.paragraph-container {

    width: 90%;
    word-break: keep-all;
}

.article-paragraph {
    font-size: 1.8rem;
    line-height: 2.5rem;
    margin: 0;
}

.learn-more-btn {

    margin-top: 5rem;
    padding: 2rem 2.8rem;
    font-size: 1.8rem;
}

.learn-more-btn-color {
    border: 3px solid var(--almost-black);
    background-color: var(--almost-black);
    color: var(--almost-white);
}

.learn-more-btn-color:active {
    background-color: transparent;
    color: var(--almost-black);
    transition: all 100ms ease-in;
}

.clients-section {

    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.clients-section img {
    padding: 0 1.8rem;
}